In [ ]:
pip install dash

# 1 - CONEXÃO COM BD

In [1]:
#IMPORTANDO BIBLIOTECAS NECESSÁRIAS
from dash import Dash, html, dcc, dash
from dash.dependencies import Input, Output
import plotly.express as plx
import pandas as pd
import mysql.connector

In [4]:
#FUNÇÃO PARA DEFINIÇÃO DE CONEXÃO COM O SERVIDOR DO BD
def criar_conexao_servidor(usuario, senha, host, nome_bd):
    conexao = None
    try:
        conexao = mysql.connector.connect(
            host=host,
            user=usuario,
            passwd=senha,
            database=nome_bd
        )
        print("MySQL DB conectado com sucesso")
    except Error as err:
        print(f"Erro: '{err}'")
    
    return conexao

In [5]:
conexao = criar_conexao_servidor('root', '', 'localhost', 'apollo')

MySQL DB conectado com sucesso

In [6]:
cursor = conexao.cursor()

# 2 - CONSULTAS PARA OBTENÇÃO DOS DADOS

In [7]:
#CONSULTA TOTAL DAS PRESTAÇOES JUNTO AO MÊS
query_faturamento_mes = """
SELECT MONTH(DiaData) AS mes, (Adicional + SUM(preco)) AS total 
FROM prestacao, prestacao_servico, prestacao_data, servico, data 
WHERE prestacao.IDPrestacao = prestacao_servico.IDPrestacao 
AND prestacao.IDPrestacao = prestacao_data.IDPrestacao 
AND prestacao_servico.IDServico = servico.id 
AND prestacao_data.IDData = data.IDData 
GROUP BY prestacao.IDPrestacao;
"""

cursor.execute(query_faturamento_mes)
resultado_query_faturamento_mes = cursor.fetchall()
resultado_query_faturamento_mes

[(11, 370.0), (11, 755.0), (12, 300.0), (12, 670.0), (12, 570.0)]

In [8]:
#CONSULTA FATURAMENTO BRUTO POR MÊS 
query_faturamento_bruto = """
SELECT 
    SUM(total) AS Valor_Arrecadado,
    mes,
    ano
FROM (
    SELECT 
        MONTH(DiaData) AS mes, 
        YEAR(DiaData) AS ano,
        prestacao.IDPrestacao,
        (Adicional + COALESCE(SUM(servico.preco), 0)) AS total
    FROM 
        prestacao
    JOIN 
        prestacao_servico ON prestacao.IDPrestacao = prestacao_servico.IDPrestacao
    JOIN 
        servico ON prestacao_servico.IDServico = servico.id
    JOIN 
        prestacao_data ON prestacao.IDPrestacao = prestacao_data.IDPrestacao
    JOIN 
        data ON prestacao_data.IDData = data.IDData
    GROUP BY 
        mes, prestacao.IDPrestacao
) AS subquery
GROUP BY 
    mes;
"""
cursor.execute(query_faturamento_bruto)
resultado_faturamento_bruto = cursor.fetchall()
resultado_faturamento_bruto

[(1125.0, 11, 2022), (1540.0, 12, 2022)]

In [7]:
#FATURAMENTO LÍQUIDO POR MÊS (SOMA_VALOR_SERVIÇOS - (CUSTOS + DIARIAS))

In [10]:
#QUANTIDADE DE PRESTAÇÕES REALIZADAS POR MÊS, ANO 
query_prestacoes_mes = """
SELECT COUNT(prestacao.IDPrestacao) as qtd_prestacoes, MONTH(DiaData) as mes, YEAR(DiaData) as ano
FROM prestacao, prestacao_data, data
WHERE prestacao.IDPrestacao = prestacao_data.IDData 
AND prestacao_data.IDData = data.IDData
GROUP BY mes;
"""
cursor.execute(query_prestacoes_mes)
resultado_query_prestacoes_mes = cursor.fetchall()
resultado_query_prestacoes_mes

[(2, 11, 2022), (3, 12, 2022)]

In [11]:
#QUANTIDADE DE SERVIÇOS E DESCRIÇÃO REALIZADOS EM PRESTAÇÕES
query_servicos_qtd="""
SELECT COUNT(prestacao_servico.IDServico) as qtd, servico.nome
FROM prestacao, prestacao_servico, servico
WHERE prestacao.IDPrestacao = prestacao_servico.IDPrestacao
AND prestacao_servico.IDServico = servico.id
GROUP BY servico.nome
ORDER BY qtd;
"""
cursor.execute(query_servicos_qtd)
resultado_query_servicos_qtd = cursor.fetchall()
resultado_query_servicos_qtd

[(2, 'Instalação'), (2, 'Manutenção Elétrica'), (4, 'Limpeza')]

In [12]:
#TOTAL DE FUNCIONARIOS
query_total_funcionarios = """
SELECT COUNT(*) FROM funcionario
"""
cursor.execute(query_total_funcionarios)
resultado_query_total_funcionarios = cursor.fetchall()
resultado_query_total_funcionarios

[(21,)]

In [13]:
#GASTOS TOTAIS COM DIÁRIAS DE FUNCIONÁRIOS EM PRESTAÇÕES
query_gastos_funcionarios="""
SELECT 
    SUM(soma_diarias) as gasto_total_diaria,
    MONTH(data.DiaData) AS mes,
    YEAR(data.DiaData) AS ano
FROM (
    SELECT 
        prestacao.IDPrestacao, 
        SUM(funcionario.diaria) as soma_diarias
    FROM 
        prestacao
    JOIN 
        prestacao_funcionario ON prestacao.IDPrestacao = prestacao_funcionario.IDPrestacao
    JOIN 
        funcionario ON prestacao_funcionario.IDFuncionario = funcionario.id
    GROUP BY 
        prestacao.IDPrestacao
) as somas_diarias_prestacao
JOIN prestacao_data ON somas_diarias_prestacao.IDPrestacao = prestacao_data.IDPrestacao
JOIN data ON prestacao_data.IDData = data.IDData
GROUP BY 
    mes;
"""
cursor.execute(query_gastos_funcionarios)
resultado_query_gastos_funcionarios = cursor.fetchall()
resultado_query_gastos_funcionarios

[(350.0, 11, 2022), (405.0, 12, 2022)]

# 3 - DEFINIÇÃO DOS DADOS OBTIDOS EM DATAFRAMES

In [12]:
#CRIAÇÃO DE DICIONÁRIO COM NOMES PARA ASSOCIAÇÃO JUNTO AOS MESES
mes_ref = {
    1: "Janeiro",
    2: "Fevereiro",
    3: "Março",
    4: "Abril",
    5: "Maio",
    6: "Junho",
    7: "Julho",
    8: "Agosto",
    9: "Setembro",
    10: "Outubro",
    11: "Novembro",
    12: "Dezembro"
}

In [13]:
#DEFINIÇÃO DOS DATAFRAMES
df_fat_bruto = pd.DataFrame(resultado_faturamento_bruto, columns=['faturamento', 'mes','ano'])
df_qtd_prest = pd.DataFrame(resultado_query_prestacoes_mes, columns=['qtd_prestacoes', 'mes','ano'])
df_qtd_servicos = pd.DataFrame(resultado_query_servicos_qtd, columns=['qtd', 'servico'])
df_gastos_func = pd.DataFrame(resultado_query_gastos_funcionarios, columns=['total', 'mes','ano'])
df_tot_func = pd.DataFrame(resultado_query_total_funcionarios, columns=['total'])

In [14]:
#MAPEAMENTO DOS NOMES DOS MESES NA COLUNA MÊS
df_fat_bruto['mes'] = df_fat_bruto['mes'].map(mes_ref).astype(str)
df_qtd_prest['mes'] = df_qtd_prest['mes'].map(mes_ref).astype(str)
df_gastos_func['mes']=df_gastos_func['mes'].map(mes_ref).astype(str)

## 4 - PLOTAGEM E VISUALIZAÇÃO DE GRÁFICOS

In [16]:
# GRÁFICO FATURAMENTO BRUTO POR MÊS, ANO
# Modelo: Gráfico de barras verticais

#Inicialização da aplicação Dash
app = dash.Dash(__name__) 

#Separação de anos disponíveis para seleção
anos = df_fat_bruto['ano'].unique() 

#Layout da aplicação criando:
# - caixa de seleção para alternância entre anos
# - gráfico de barras com exibição do faturamente entre os meses do ano escolhido
app1.layout = html.Div([
    dcc.Dropdown(
        id='ano-dropdown',
        options=[{'label':str(ano), 'value':ano} for ano in anos],
        value=anos[0], #set de valor inicial
        style={'width':'50%'}
    ),
    dcc.Graph(id='grafico-faturamento-bruto')
])

#Utilização de callback para atualizar o gráfico conforme a seleção do ano
@app1.callback(
    Output('grafico-faturamento-bruto', 'figure'),
    [Input('ano-dropdown', 'value')]
)

#Função que fornece o gráfico com informações do ano
def atualizar_grafico(ano_selecionado):
    df_selecionado = df_fat_bruto[df_fat_bruto['ano'] == ano_selecionado]
    fig = plx.bar(
        df_selecionado, x='mes', y='faturamento',
        title=f'Faturamento por Mês: Ano {ano_selecionado}',
        labels={'faturamento':'Faturamento (R$)', 'mes': 'Mês'},
        orientation='v',
        color='mes',
        height=500,
        hover_data={'faturamento':':.2f'}
    )
    fig.update_layout(
        margin=dict(l=1, t=50, b=0),
        showlegend=False
    )
    return fig

if __name__ == '__main__':
    app1.run(port=8051)

In [ ]:
# GRÁFICO DE QUANTIDADE DE PRESTAÇÕES REALIZADAS POR MÊS, ANO
# Modelo: Gráfico de barras horizontais

#Inicialização da aplicação Dash
app = dash.Dash(__name__) 

#Separação de anos disponíveis para seleção
anos = df_qtd_prest['ano'].unique() 

#Layout da aplicação criando:
# - caixa de seleção para alternância entre anos
# - gráfico de barras com exibição da quantidade de prestações realizadas entre os meses do ano escolhido
app.layout = html.Div([
    dcc.Dropdown(
        id='ano-dropdown',
        options=[{'label':str(ano), 'value':ano} for ano in anos],
        value=anos[0], #set de valor inicial
        style={'width':'50%'}
    ),
    dcc.Graph(id='grafico-qtd-prestacoes')
])

#Utilização de callback para atualizar o gráfico conforme a seleção do ano
@app.callback(
    Output('grafico-qtd-prestacoes', 'figure'),
    [Input('ano-dropdown', 'value')]
)

#Função que fornece o gráfico com informações do ano
def atualizar_grafico(ano_selecionado):
    df_selecionado = df_qtd_prest[df_qtd_prest['ano'] == ano_selecionado]
    fig = plx.bar(
        df_selecionado, x='qtd_prestacoes', y='mes',
        title=f'Quantidade de prestações realizadas por mês: Ano {ano_selecionado}',
        labels={'qtd_prestacoes':'Quantidade', 'mes': 'Mês'},
        orientation='h',
        color='mes',
        height=400,
        hover_data={'qtd_prestacoes':':.2f'}
    )
    fig.update_layout(
        margin=dict(l=1, t=50, b=0),
        showlegend=False
    )
    return fig

if __name__ == '__main__':
    app.run_server(debug=True)

In [18]:
# GRÁFICO DE QUANTIDADE DE SERVIÇOS
# Modelo: Gráfico de pizza

#Inicialização da aplicação Dash
app = dash.Dash(__name__)

#Definição do layout
app.layout = html.Div([
    dcc.Graph(
        id='grafico-qtd-servicos',
        figure=plx.pie(
            df_qtd_servicos,
            values='qtd',
            names='servico',
            title='Quantidade de Serviços Realizados em Prestações'
        )
        
    )
])

if __name__ == '__main__':
    app.run_server(debug=True)