In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dpf\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\dpf\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
from mysql.connector import Error

In [3]:
def criar_conexao_servidor(usuario, senha, host, nome_bd):
    conexao = None
    try:
        conexao = mysql.connector.connect(
            host=host,
            user=usuario,
            passwd=senha,
            database=nome_bd
        )
        print("MySQL DB conectado com sucesso")
    except Error as err:
        print(f"Erro: '{err}'")
    
    return conexao

In [4]:
conexao = criar_conexao_servidor('root', '', 'localhost', 'apollo')

MySQL DB conectado com sucesso

In [5]:
cursor = conexao.cursor()

In [17]:
#INSERÇÃO DE CLIENTES
inserir_cliente = "INSERT INTO cliente(id, nome, numero, endereco) VALUES (%s, %s, %s, %s)"
valores_cliente = (21, "Joao Mario", "52345", "Camboa")
cursor.execute(inserir_cliente, valores_cliente)
conexao.commit()

ProgrammingError: Not all parameters were used in the SQL statement

In [19]:
#INSERÇÃO DE FUNCIONÁRIOS
inserir_funcionario = "INSERT INTO FUNCIONARIO (id, nome, numero, endereco, diaria) VALUES (%s, %s, %s, %s, %s)"
valores_funcionario = (21, "Jeferson", "98441", "Ivar Saldanha", 80)
cursor.execute(inserir_funcionario, valores_funcionario)
conexao.commit()

In [9]:
#INSERÇÃO DE SERVIÇOS
inserir_servico = "INSERT INTO SERVICO (id, nome, preco) VALUES (%s, %s, %s)"
valores_servico = (4,"Desmontagem", 140)
cursor.execute(inserir_servico, valores_servico)
conexao.commit()

In [40]:
#INSERÇÃO DE CUSTOS
inserir_custo = "INSERT INTO CUSTO (IDCusto, DescCusto, ValorCusto) VALUES (%s, %s, %s)"
valores_custo = (1, "Gasolina", 150)
cursor.execute(inserir_custo, valores_custo)
conexao.commit()

In [14]:
#INSERÇÃO DE DATAS
inserir_data = "INSERT INTO DATA (IDData, DiaData) VALUES (%s, %s)"
valores_data = (5,"2023-08-05")
cursor.execute(inserir_data, valores_data)
conexao.commit()

In [20]:
#INSERÇÃO DE PRESTAÇÕES
inserir_prestacao = "INSERT INTO PRESTACAO (IDPrestacao, Adicional, IDCliente) VALUES (%s, %s, %s)"
valores_prestacao = (5, 50, 6)
cursor.execute(inserir_prestacao, valores_prestacao)
conexao.commit()

In [62]:
#INSERCAO DE PRESTAÇÕES_CUSTO
inserir_pc = "INSERT INTO PRESTACAO_CUSTO (IDPrestacao, IDCusto) VALUES (%s, %s)"
valores_pc = (1,1)
cursos.execute(inserir_pc, valores_pc)
conexao.commit()

In [25]:
#INSERÃP DE PRESTAÇÕES_DATA
inserir_pd = "INSERT INTO PRESTACAO_DATA (IDPrestacao, IDData) VALUES (%s, %s)"
valores_pd = (5,5)
cursor.execute(inserir_pd, valores_pd)
conexao.commit()

In [35]:
#INSERÇÃO DE PRESTACOES_FUNCIONARIOS
inserir_pf = "INSERT INTO PRESTACAO_FUNCIONARIO (IDFuncionario, IDPrestacao) VALUES (%s, %s)"
valores_pf = (10,3)
cursor.execute(inserir_pf, valores_pf)
conexao.commit()

In [42]:
#INSERÇÃO DE PRESTACOES_SERVICO
inserir_ps = "INSERT INTO PRESTACAO_SERVICO (IDPrestacao, IDServico) VALUES (%s, %s)"
valores_ps = (5,1)
cursor.execute(inserir_ps, valores_ps)
conexao.commit()